h1,h2,h3,h4,h5,h6,p {margin: 10px 0 0 0;}

.content {
  overflow: hidden;
  clear: both;
}

.content-left {
  width: 40%;
  float: left;
}

.content-right {
  width: 58%;
  float: left;

  min-height: 100px;
}


.content ul {margin: 0;}

ul.demographics {
  list-style-type: none;
  width: 14%;
  float: left;
}

ul.demographics .li {
  font-weight: bold;
}